<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>To-do list</h1>
    <img src="<%= user.profileimagedir %>" width="70px" height="70px">
    <p><%= user.fullname %></p>
    <form action="/create" method="post">
        <input type="text" name="task" id="task" placeholder="Insira alguma tarefa">
        <button id="addButton" type="submit">></button>
    </form>

    <ul>
        <% taskList.forEach((task) => { %>
        <li><%= task.task %> | <%= task.date.toLocaleString("pt-BR") %> | <%= task.checked ? "Feito" : "A fazer" %></li>
        <% }) %>
    </ul> <br>

    <a href="/account"><p>Editar perfil</p></a>

    <script src="script.js"></script>
</body>
</html>